In [13]:
import pandas as pd
import json

In [18]:
df = pd.read_json('./dense_final_100_dataset.json')

In [9]:
df

        app_nb                                        app_nb_pids
0    3586605A1  [[2043868B1, p0016], [3369617A1, p0118], [3326...
1    3586688A1  [[1793984B1, p0031], [2949199A1, p0013], [2936...
2    3586697A1  [[1799441B1, p0023], [1793984B1, p0001], [2659...
3    3586762A1  [[1773519B1, p0038], [1990066B1, p0032], [1773...
4    3586766A1  [[1791587B1, p0041], [2777517A1, pa01], [17652...
..         ...                                                ...
995  3758046A1  [[1791171B1, p0045], [1766694B1, p0020], [1914...
996  3758220A1  [[2876810A1, p0004], [2843832A1, p0045], [3337...
997  3758425A1  [[3285311A1, p0094], [3346371A1, p0155], [1732...
998  3758443A1  [[2144154A2, p0015], [1790488B1, p0014], [2767...
999  3758460A1  [[2669421A1, p0054], [3260785A1, p0063], [2013...

[1000 rows x 2 columns]

In [19]:
import pandas as pd
import json



# Process the data
result = {}
for _, row in df.iterrows():
    app_nb = row['app_nb']
    app_nb_pids = row['app_nb_pids']
    # Keep only the first element of each sub-array
    result[app_nb] = [pid[0] for pid in app_nb_pids]

# Save to a JSON file
with open('output.json', 'w') as json_file:
    json.dump(result, json_file, indent=4)

print("Data has been saved to output.json")

Data has been saved to output.json

In [ ]:
df